*{
    font-family: 'Titillium Web';
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: small;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.linkItem{
    display: none;
    margin: 0px;
    padding: 0px;
}

.linkItem2{
    display: none;
    margin: 0px;
    padding: 0px;
}

.finns{
    display: flex;
    background-color: orange;
    margin:10px;
    padding:10px;
    height:28px;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}

body{
    background-color: green;
    min-width: 280px;
    margin: 0px;
}
h1{
    font-size: medium;
}
header{
    display: flex;
    height: 48px;
    justify-content: space-between;
    background-color: aquamarine;
}
.linkKnapp{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    position: relative;
    height: 48px;
}

.container{
    display: flex;
    /* flex behövs för annars är inte mer information centrerat */
    height:174px;
    margin-top: 0px;
    background-color: brown;
}

.linkKnapp:hover{
    cursor: pointer;
}

#titleknapp{
    height: 48px;
    width: 48px;
    border-radius: 10px;
}
.topleftCorner{
    background-color: orange;
    display: flex;
    align-items: center;
    width: 30%;
}
.text{
    display: block;
    margin: 20px;
    background-color: red;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

@media screen and (min-width: 688px){
    body{
        background-color: pink;
    }
    }

    @media screen and (min-width: 992px){
    body{
        background-color: yellow;
    }
    }
    
@media screen and (min-width: 1312px){
    body{
        background-color: purple;
    }
    }