@media screen and (max-width: 1312px){
    body{
        background-color: purple;
    }
    }

@media screen and (max-width: 992px){
    body{
        background-color: yellow;
    }
    }

@media screen and (max-width: 688px){
    body{
        background-color: green;
    }
    }