body{
    background-color: red;
}
@media screen and (max-width: 668px){
    body{
        background-color: green;
    }
    }

@media screen and (max-width: 992px){
    body{
        background-color: green;
    }
    }

@media screen and (max-width: 1312px){
    body{
        background-color: green;
    }
    }