body{
    background-color: brown;
}

@media screen and (min-width: 688px){
    body{
        background-color: purple;
    }
    }

@media screen and (min-width: 992px){
    body{
        background-color: yellow;
    }
    }
@media screen and (min-width: 1312px){
    body{
        background-color: red;
    }
    }