body{
    background-color: beige;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
button{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.topleftCorner{
    background-color: orange;
    display: flex;
    align-items: center;
}
header{
    background-color: lemonchiffon;
    display: flex;
    height: 48px;
    justify-content: space-between;
}
.bildContainer{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 688px){
    body{
        background-color: purple;
    }
    }

@media screen and (min-width: 992px){
    body{
        background-color: yellow;
    }
    }
@media screen and (min-width: 1312px){
    body{
        background-color: red;
    }
    }