body{
    background-color: beige;
    margin:0;
    padding-top: 48px;
}

a{
    display: flex;
    height: 48px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.tabell{
    background-color: darkolivegreen;
}

img{
    display: block;
    /* max-width: 100%;
    max-height: 100%; */
}
button{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.topleftCorner{
    background-color: orange;
    display: flex;
    align-items: center;
}
header{
    background-color: lemonchiffon;
    display: flex;
    height: 48px;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.bildContainer{
    display: flex;
    justify-content: center;
}
.containerBild{
    max-width: 25%;
}

@media screen and (min-width: 688px){
    body{
        background-color: purple;
    }

    .bildContainer{
        display: grid;
        background-color: red;
        grid-template-columns:1fr 1fr;
    }
    
    .containerBild{
        min-width: 100%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-color: yellow;
    }
    }
@media screen and (min-width: 1312px){
    body{
        background-color: red;
    }
    }