body{
    background-color: beige;
    margin:0;
}

a{
    display: flex;
    height: 48px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.tabell{
    background-color: darkolivegreen;
}

img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
button{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}
.topleftCorner{
    background-color: orange;
    display: flex;
    align-items: center;
}
header{
    background-color: lemonchiffon;
    display: flex;
    height: 48px;
    justify-content: space-between;
}
.bildContainer{
    display: flex;
    justify-content: space-evenly;
}
.bildContainer img{
    border: solid gray thick;
}

@media screen and (min-width: 688px){
    body{
        background-color: purple;
    }
    .bildContainerFirst{
        display: flex;
        flex-direction: row;
    }
    .bildContainerLast{
        display: flex;
        flex-direction: row;
    }
    .bildContainer{
        display: flex;
        background-color: aqua;
    }
    }

@media screen and (min-width: 992px){
    body{
        background-color: yellow;
    }
    }
@media screen and (min-width: 1312px){
    body{
        background-color: red;
    }
    }